body{  
  margin: 0;
  padding: 0;
  background-image: url("../images/metalbackground.png");
  background-repeat: repeat;
  border-left: 35px solid #333333;
  border-right: 35px solid #333333; 
}
a {
  text-decoration: none;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
  align-items: center;
  display: table;
  
}

li {
  float: left;
}

nav{
  display: inline-block;
  padding-bottom: 30px;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111111;
}
.navbar {
  font-family: fantasy;
}
.anavbar {  
  text-decoration: none;
  color: #ffbc40;
  font-size: 30px;
}

.img{ 
  width: 450px;
  border-radius: 5%;
}

.tdimg{
  text-align: center;

}
.tdtext{
  text-align: left;
  font-size: 50px;
  color: white;
  font-family: fantasy;
}

.titulo{
  color: white; 
  font-size: 60px; 
  font-family: fantasy;
}
.logo{
  height: 80px;
  padding-left: 10px;
  padding-top: 10px;
}

.listn{
  width: 95%;
  border-spacing: 40px;
}
#center{
  align-items: center;
  text-align: center;
  justify-content: center;
}

.fontwhi{
  text-decoration: none;
  color: white;
}

.tdteams{
  align-items: center;
  text-align: center;
}

.teamsimg{
  width: 200px; 
  height: 200px;
  text-align: center;
  padding: 10px;
  border-radius: 5%;
}

.afont{
  text-decoration: none;
  font-family: candara;
  color:white;
  font-size: 40px;
}

.tdhis{
  font-size: 20px; 
  color: white; 
  font-family: arial;
}

.pconta{
  font-family: candara;
  color: white;
}
.center{
  align-items: center;
  text-align: center;
}

.imgnot{
  width: 550px;
  border-radius: 5%;
}

.textnot{
  font-size: 20px; 
  color: white;
  font-family: arial;
}

.titnot{
  font-size: 35px; 
  color: white; 
  font-family: fantasy;
}
.formcont{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
}